apiVersion: v1
clusters:{% for cluster in clusters %}
- cluster:
    certificate-authority-data: {{ cluster.ca_data }}
    server: {{ cluster.server }}
  name: {{ cluster.name }}{% endfor %}
contexts:{% for context in contexts %}
- context:
    cluster: {{ context.cluster_name }}
    user: {{ context.user }}
  name: {{ context.name }}{% endfor %}
current-context: {{ current_context }}
kind: Config
preferences: {}
users:{% for context in contexts %}
- name: {{ context.user }}
  user:
    client-certificate-data: {{ context.client_cert_data }}
    client-key-data: {{ context.client_key_data }}{% endfor %}
